h1 {color: black;	font size 250%; font weight: bold }
h2{ font size 150%:
	font-style italic;
	






body {
	backround: yellow;
	color: darkblue ;
	font size: 18pt;
	font-family:
	
	
	
nav	li {border: 2px solid black;
	display: inline-block;
	padding: 10px;
	margin: 20px;
	backround: balck;
	}
	
	
	
	
	
	
	a {color: darkred;
	text-decoration: none;} 
	a:hver {color: red: }